<%include ../include/header.html%>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <button class="btn btn-primary btn-sm">添加分类</button>
        <table class="table table-striped">
            <thead>
                <th class="text-center">分类名称</th>
                <th class="text-center">操作</th>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">JavaScript</td>
                    <td class="text-center">
                        <button class="btn btn-danger btn-sm">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<%include ../include/footer.html%>